<div >
    <mat-card>
      <mat-card-content>
    <table mat-table [dataSource]="dataSource" >
      
      <!-- Index Identify Column -->
      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef> ID</th>
        <td mat-cell *matCellDef="let demande"> {{demande.id}} </td>
      </ng-container>

      <!-- description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description</th>
        <td mat-cell *matCellDef="let demande"> {{demande.description}} </td>
      </ng-container>
  
      <!-- dateDebut Column -->
      <ng-container matColumnDef="dateDebut">
        <th mat-header-cell *matHeaderCellDef> Date début </th>
        <td mat-cell *matCellDef="let demande" > {{demande.dateDebut | date: 'dd-MM-yyyy'}} </td>
      </ng-container>
  
      <!-- dateFin Column -->
      <ng-container matColumnDef="dateFin">
        <th mat-header-cell *matHeaderCellDef> Date fin </th>
        <td mat-cell *matCellDef="let demande" > {{demande.dateFin | date: 'dd-MM-yyyy'}} </td>
      </ng-container>
  
      <!-- nbrJours Column -->
      <ng-container matColumnDef="nombreJours">
        <th mat-header-cell *matHeaderCellDef> Nombre de jours </th>
        <td mat-cell *matCellDef="let demande"> {{demande.nombreJours}} </td>
      </ng-container>

      <!-- decision Column -->
      <ng-container matColumnDef="decision">
          <th mat-header-cell *matHeaderCellDef> Décision </th>
          <td mat-cell *matCellDef="let demande"> {{demande.decision}} </td>
        </ng-container>

        <!-- motif Column -->
      <ng-container matColumnDef="motifRefus">
          <th mat-header-cell *matHeaderCellDef> Motif de refus </th>
          <td mat-cell *matCellDef="let demande"> {{demande.motifRefus}} </td>
        </ng-container>

        <!-- actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let demande"> <button mat-icon-button matTooltip="Supprimer la demande" color="primary" (click)="onCLickDelete(demande.id)" > <mat-icon>delete</mat-icon> </button> </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
    </mat-card>
  </div>
  <br>
     <button class='button' mat-raised-button color="primary" routerLink="/newdemande" >Nouvelle demande</button> 
     